# URLs de la app
EXPO_PUBLIC_APP_URL=http://localhost:4000
EXPO_PUBLIC_BASE_URL=http://localhost:4000
EXPO_PUBLIC_HOST=localhost:4000

# Claves opcionales
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_UPLOADCARE_PUBLIC_KEY=
